<script type="text/javascript">
  <%= @javascript %>
</script>

<h3>Expected failures log
  <% if @date %>
    <small>(<%= @date %>)</small>
  <% end %>
</h3>

<% unless @counters.empty? %>
  <div class="well well-sm">
    <dl class="dl-horizontal" style="margin: 0">
      <% @counters.each do |exception, count| %>
        <dt><%= exception %></dt>
        <dd><%= count %></dd>
      <% end %>
    </dl>

  </div>
<% end %>

<% if @jobs.any? || @counters.any? %>
  <form id="clear-jobs" method="post" class="form-inline pull-right" action="<%= root_path %>expected_failures/clear">
    <%= csrf_tag if respond_to?(:csrf_tag) %>
    <label>Clear:</label>
    <select name="what">
      <option selected>Choose...</option>
      <% if @jobs.any? %>
        <optgroup label="Jobs">
          <option value="old">Older than today</option>
          <option value="all">All failed</option>
        </optgroup>
      <% end %>
      <% if @counters.any? %>
        <optgroup label="Counters">
          <option value="counters">All counters</option>
        </optgroup>
      <% end %>
    </select>
  </form>
<% end %>

<% if @jobs.any? %>
  <div class="modal fade" id="job-details">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><!-- title --></h4>
        </div>

        <div class="modal-body">
          <table class="table table-condensed table-striped">
            <tbody>
              <!-- loaded via js -->
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <form id="filter-jobs" class="form-inline pull-left" action="<%= root_path %>expected_failures" method="get">
    <label>Choose date:</label>
    <select name="date">
      <% @dates.each do |date, count| %>
        <option value="<%= date %>" <%= "selected" if date == @date %>><%= date %> (<%= count %>)</option>
      <% end %>
    </select>
  </form>

  <p class="clearfix"></p>

  <%= erb :_paging, :locals => { :url => "#{root_path}expected_failures/#{@date}" } %>

  <table id="expected" class="queues table table-hover table-bordered table-striped table-white">
    <thead>
      <th>Datetime</th>
      <th>Worker</th>
      <th>Exception</th>
      <th>Queue</th>
      <th>Arguments</th>
    </thead>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= Time.parse(job['failed_at']).strftime('%m/%d/%Y %H:%M:%S') %></td>
        <td><%= job["worker"] %></td>
        <td><%= job["exception"] %> <small>(<%= job["error"]%>)</small></td>
        <td><a href="<%= "#{root_path}/queues/#{job["queue"]}"%>"><%= job["queue"] %></a></td>
        <td><%= link_to_details(job) %></td>
      </tr>
    <% end %>
  </table>

  <%= erb :_paging, :locals => { :url => "#{root_path}expected_failures/#{@date}" } %>

<% else %>
  <p class="clearfix"></p>
  <div class="alert alert-success">
    No failed jobs found.
  </div>
<% end %>
